<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href={% static 'style.css' %}>
	{% block title %}
		BASE
	{% endblock %}
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="menu">
				<li>
					<a href="{% url 'homepage' %}">Home</a>
				</li>
				<li class="filters">
					<a id="filter-btn" href="{% url 'filter_menu' %}">Filters</a>
				</li>
				<li>
					<a id="assets-btn" href="{% url 'asset_menu' %}">Assets</a>
				</li>
				<form action="{% url 'search_asset' %}" method="get">
					<input type="text" name="q" placeholder="Search...">
					<button>Search</button>
				</form>
			</div>
		</nav>
	</header>

	<main class="container">
		{% block homepage %}
		{% endblock %}
		{% block content %}
			{% endblock  %}
	</main>
</body>
</html>