{% extends 'base.html' %}

{% block title %}All Assets{% endblock %}


{% block content %}
    {% if success_messages %}
    <div class="alert alert-success">
        {% if success_messages %}
        <div class="alert alert-success" id="success-message">
          <ul class="mb-0">
            {% for message in success_messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      
        <script>
          $(document).ready(function() {
            setTimeout(function() {
              $("#success-message").fadeOut("slow");
            }, 3000);  // Set the duration in milliseconds (e.g., 3000 for 3 seconds)
          });
        </script>
      {% endif %}
    </div>
    {% endif %}
    <table id="assets">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Business Unit</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action1</th>
                <th>Action2</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td>{{ asset.name }}</td>
                <td>{{ asset.model }}</td>
                <td>{{ asset.business_unit }}</td>
                <td>{{ asset.get_status_display }}</td>
                <td>{{ asset.price }}</td>
                <td><a href="{% url 'update_asset' asset.id %}">Update</a></td>
                <td><a href="{% url 'remove_asset' asset.id %}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
